<!--About-->
<div id="about-update">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
        <h1>UX Is My Passion</h1>
        <h2>I am a UX professional who has been working in the DFW area for the past 3 years with such companies as DART, Harman International, and Rockfish Digital. I have always brought user-centered design practices to my roles as web designer, UX Researcher, and UX Designer.</h2>
        <h2>I love working with clients and developers to create technology solutions that make good business and happy consumers. Whether it is working on usability testing or designing wireframes and prototypes, I bring professionalism, experience, and passion to my team.</h2>
        <h2>Thanks for checking out my UX Portfolio. I am always working on it, using Ruby on Rails, Bootstrap, GitHub, Heroku, and Amazon Web Services to maintain its development. I have a great interest in the software and technology stacks that support business solutions. But when I'm not on my Mac, I'm taking the little dog for a walk or experimenting in the kitchen with new recipes.</h2>
        <h2> Feel free to connect with me on LinkedIn or Twitter.</h2>
      </div>
    </div>
  </div>
</div>
