<div id="introduction">
  <h3>Victor Estrada</h3>
  <p>I manage technical documentation in the global semiconductor industry. My latest project is to plan and devlop a conversion into a structured authoring workflow using DITA, Adobe FrameMaker, and user-centered practices.</p>
  <p>Register free for <a href="https://2018-adobe-dita-world.meetus.adobeevents.com/">Adobe DITA World 2018</a>, October 10-12.</p>
</div>
