<div id="introduction">
  <h3>Victor Estrada</h3>
  <p>I manage technical documentation in the global semiconductor industry. This year my work includes implementing a conversion into a structured authoring workflow with DITA and Adobe FrameMaker.</p>
  <p>Register free for <a href="https://2018-adobe-dita-world.meetus.adobeevents.com/">Adobe DITA World 2018</a>, October 10-12.</p>
</div>
