<div class="container-fluid">
  <div id="home-banner">
    <div class="row">
      <div class="col-md-6">
        <div id="home-banner-name" class="text-center">Victor Estrada</div>
      </div>
      <div class="col-md-6">
        <div id="home-banner-title">UX Designer<br>& Researcher</div>
        <p>With Litehouse, a UX team with Harman International Industries, a subsidiary of Samsung, I have colloaborated with UX researchers, designers, and architects on vast, complex, and industry changing projects. I have completed expert evaluations on software, travelled across the U.S. to conduct contextual inquiries, collaborated to analyze and synthesize data, led usability testing, conducted a design mapping workshop, and created client-side deliverables.</p>
      </div>
    </div>
  </div>
</div>
