<div class="container-fluid" id="home-header">
  <%= inline_svg "circle_sun.svg", class: 'circle-sun' %>
  <div id="home-banner">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div id="home-banner-name" class="text-center">VICTOR<br>ESTRADA</div>
        <div id="home-banner-title">UX Designer<br>&amp Researcher</div>
        <div class="mx-auto card w-75">
          <div class="card-body">
            <h5>I fix the latest business technologies to user needs.</h5>
          </div>
        </div>
      </div>
  </div>
</div>
