#about-update {

  margin: 10% 0 20% 0;

  h1 {
  padding-bottom: 12px;
  font-family: Lato-Light;
  font-size: 68px;
  color: #36D1DC;
  letter-spacing: -1px;
  line-height: 62px;
}

  h2 {
  padding-bottom: 6px;
  font-family: Lato-Light;
  font-size: 18px;
  font-weight: 400;
  color: #4a4a4a;
  letter-spacing: 0.1px;
  line-height: 40px;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

#about-update {
  h2 {
  padding-bottom: 6px;
  font-family: Lato-Light;
  font-size: 24px;
  font-weight: 400;
  color: #4a4a4a;
  letter-spacing: 0.1px;
  line-height: 50px;
  }
}

}
