// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-banner {

  #home-banner-name {
    font-family: 'Alegreya', serif;
    font-size: 100px;
    font-weight: 900;
  }

  #home-banner-title {
    font-family: 'Alegreya', serif;
    font-size: 72px;
    font-weight: 900;
  }

}
