/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.beans-project {
  padding: 10% 12%;
  background-color: #f9f9f9;

  h2 {
    color: #4a4a4a;
  }

  h5 {
    color: #4a4a4a;
  }

  p {
    color: #2c3e50;
  }

  li {
    color: #2c3e50;
  }
}

.heart-project {
  padding: 10% 12%;
  background-color: #ecf0f1;

  h2 {
    color: #4a4a4a;
  }

  h5 {
    color: #4a4a4a;
  }

  p {
    color: #2c3e50;
  }

  li {
    color: #2c3e50;
  }
}

.marketplace-project {
  padding: 10% 12%;
  background-color: #f9f9f9;

  h2 {
    color: #4a4a4a;
  }

  h5 {
    color: #4a4a4a;
  }

  p {
    color: #2c3e50;
  }

  li {
    color: #2c3e50;
  }
}


.research-project {
  padding: 10% 12%;
  background-color: #ecf0f1;

  h2 {
    color: #4a4a4a;
  }

  h5 {
    color: #4a4a4a;
  }

  p {
    color: #2c3e50;
  }

  li {
    color: #2c3e50;
  }
}

.drupal-project {
  padding: 10% 12%;
  background-color: #f9f9f9;

  h2 {
    color: #4a4a4a;
  }

  h5 {
    color: #4a4a4a;
  }

  p {
    color: #2c3e50;
  }

  li {
    color: #2c3e50;
  }
}

.ruby-project {
  padding: 10% 12%;
  background-color: #ecf0f1;

  h2 {
    color: #4a4a4a;
  }

  h5 {
    color: #4a4a4a;
  }

  p {
    color: #2c3e50;
  }

  li {
    color: #2c3e50;
  }
}

.dita-project {
  padding: 10% 12%;
  background-color: #f9f9f9;

  h2 {
    color: #4a4a4a;
  }

  h5 {
    color: #4a4a4a;
  }

  p {
    color: #2c3e50;
  }

  li {
    color: #2c3e50;
  }
}

.dbc-project {
  padding: 10% 12%;
  background-color: #ecf0f1;

  h2 {
    color: #4a4a4a;
  }

  h5 {
    color: #4a4a4a;
  }

  p {
    color: #2c3e50;
  }

  li {
    color: #2c3e50;
  }
}

.btn-block {
  margin-top: 5%;
}

#projects-arrow {
  .back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 25%;
    right: 2%;
    width: 50px;
    height: 50px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: rgba(243, 156, 18,.8);
    background-color: transparent;
  }

  .back-to-top span {
    font-size: 50px;
  }

  .back-to-top span:visited {
    color: rgba(243, 156, 18,.7);
  }

  .back-to-top:hover {
    color: rgba(243, 156, 18,.7);
  }

  .back-to-top:active {
    color: rgba(243, 156, 18,.7);
  }

  .back-to-top:focus {
    color: rgba(243, 156, 18,.8);
  }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .ruby-project {

    h2 {
      margin-top: 50px;
    }
  }

  .dita-container {

    h2 {
      margin-top: 50px;
    }
  }

  .dbc-project {

    h2 {
      margin-top: 50px;
    }
  }

  .beans-project {
  }

  .drupal-project {

    h2 {
      margin-top: 50px;
    }
  }

  .research-project {

    h2 {
      margin-top: 50px;
    }
  }


}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .ruby-project {

    padding: 8% 5%;

    h2 {
      margin-top: 0;
    }

    h6 {
      margin-top: 50;
    }

  }

  .dita-project {

    padding: 8% 5%;

    h2 {
      margin-top: 0;
    }

  }

  .dbc-project {

    padding: 8% 5%;

    h2 {
      margin-top: 0;
    }

  }

  .beans-project {

    padding: 8% 5%;

    h6 {
      margin-top: 0;
    }

  }

  .drupal-project {

    padding: 8% 5%;

    h2 {
      margin-top: 0;
    }

  }

  .research-project {

    padding: 8% 5%;

    h2 {
      margin-top: 0;
    }

  }

  .heart-project {

    padding: 8% 5%;

    h2 {
      margin-top: 0;
    }

  }

  .overture-project {

    padding: 8% 5%;

    h2 {
      margin-top: 0;
    }

  }

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .ruby-project {
    padding: 8% 12%;
  }

  .dita-project {
    padding: 8% 12%;
  }

  .dbc-project {
    padding: 8% 12%;
  }

  .beans-project {
    padding: 8% 12%;
  }

  .drupal-project {
    padding: 8% 12%;
  }

  .research-project {
    padding: 8% 12%;
  }

  .heart-project {
    padding: 8% 12%;
  }

  .overture-project {
    padding: 8% 12%;
  }

}
